In [2]:
import pandas as pd
import numpy as np

In [3]:
beers = pd.read_csv("/home/aaron/BigData135/datasets/beers.csv")
breweries = pd.read_csv("/home/aaron/BigData135/datasets/breweries.csv")
reviews = pd.read_csv("/home/aaron/BigData135/datasets/reviews.csv")

In [4]:
beers.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [5]:
breweries.head()

,id,name,city,state,country,notes,types
0,19730,Brouwerij Danny,Erpe-Mere,NaN,BE,No notes at this time.,Brewery
1,32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,No notes at this time.,"Brewery, Bar, Beer-to-go"
2,44736,Beef 'O' Brady's,Plant City,FL,US,No notes at this time.,"Bar, Eatery"
3,23372,Broadway Wine Merchant,Oklahoma City,OK,US,No notes at this time.,Store
4,35328,Brighton Beer Dispensary (DUPLICATE),Brighton,GB2,GB,Duplicate of https://www.beeradvocate.com/beer...,"Bar, Eatery"

In [6]:
reviews.head()

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [7]:
len(beers['id'].unique())

358873

In [8]:
len(reviews['beer_id'].unique())

309542

In [9]:
beers.shape

(358873, 10)

In [10]:
breweries.shape

(50347, 7)

In [11]:
reviews.shape

(9073128, 10)

In [12]:
beers.columns

Index(['id', 'name', 'brewery_id', 'state', 'country', 'style', 'availability',
       'abv', 'notes', 'retired'],
      dtype='object')

In [13]:
breweries.columns

Index(['id', 'name', 'city', 'state', 'country', 'notes', 'types'], dtype='object')

In [14]:
reviews.columns

Index(['beer_id', 'username', 'date', 'text', 'look', 'smell', 'taste', 'feel',
       'overall', 'score'],
      dtype='object')

In [15]:
beers['style'].head()

0      English Oatmeal Stout
1     Russian Imperial Stout
2               Scottish Ale
3    American Imperial Stout
4         American Cream Ale
Name: style, dtype: object

In [16]:
beers['style'].unique()

array(['English Oatmeal Stout', 'Russian Imperial Stout', 'Scottish Ale',
       'American Imperial Stout', 'American Cream Ale',
       'Japanese Rice Lager', 'American Lager', 'American IPA',
       'German Bock', 'English Stout', 'English Bitter',
       'Belgian Witbier', 'American Strong Ale',
       'American Pale Wheat Ale', 'Berliner Weisse',
       'American Pale Ale (APA)', 'British Barleywine',
       'American Black Ale', 'Baltic Porter', 'American Adjunct Lager',
       'European Pale Lager', 'American Porter', 'Fruit and Field Beer',
       'American Imperial IPA', 'American Wild Ale', 'Irish Red Ale',
       'English Pale Ale', 'American Amber / Red Lager', 'Belgian Saison',
       'Belgian IPA', 'Rye Beer', 'Belgian Quadrupel (Quad)',
       'German Hefeweizen', 'American Stout', 'Smoke Beer',
       'Belgian Tripel', 'American Amber / Red Ale', 'Pumpkin Beer',
       'German Maibock', 'German Dunkelweizen', 'Belgian Dark Ale',
       'Vienna Lager', 'English Extra Special / Strong Bitter (ESB)',
       'English Sweet / Milk Stout', 'Scotch Ale / Wee Heavy',
       'Leipzig Gose', 'German Pilsner', 'German Kristalweizen',
       'German Märzen / Oktoberfest', 'American Brown Ale',
       'American Blonde Ale', 'Bohemian Pilsener', 'American Barleywine',
       'Foreign / Export Stout', 'Belgian Strong Pale Ale',
       'European Export / Dortmunder', 'French Bière de Garde',
       'California Common / Steam Beer', 'English India Pale Ale (IPA)',
       'Winter Warmer', 'German Helles', 'American Imperial Red Ale',
       'European Strong Lager', 'Belgian Dubbel', 'English Porter',
       'Belgian Gueuze', 'German Rauchbier', 'German Altbier',
       'English Brown Ale', 'American Light Lager', 'European Dark Lager',
       'Belgian Strong Dark Ale', 'Belgian Pale Ale', 'German Doppelbock',
       'German Kölsch', 'German Schwarzbier', 'Herb and Spice Beer',
       'English Old Ale', 'German Kellerbier / Zwickelbier',
       'Munich Dunkel Lager', 'Chile Beer', 'English Pale Mild Ale',
       'Irish Dry Stout', 'German Weizenbock', 'American Brett',
       'Belgian Fruit Lambic', 'Wild/Sour Beers', 'Robust Porter',
       'Smoke Porter', 'American Wheatwine Ale',
       'American Dark Wheat Ale', 'Flanders Oud Bruin',
       'German Roggenbier', 'Finnish Sahti', 'American Malt Liquor',
       'American Imperial Pilsner', 'Belgian Blonde Ale',
       'American Imperial Porter', 'Scottish Gruit / Ancient Herbed Ale',
       'American Brut IPA', 'Flanders Red Ale', 'Low Alcohol Beer',
       'English Dark Mild Ale', 'New England IPA', 'English Strong Ale',
       'Japanese Happoshu', 'Russian Kvass', 'Braggot', 'Belgian Lambic',
       'Bière de Champagne / Bière Brut', 'German Eisbock',
       'Belgian Faro', nan], dtype=object)

In [17]:
len(beers['style'].unique())

113

In [18]:
dict(beers['style'].value_counts())

{'American IPA': 44719,
 'American Pale Ale (APA)': 22159,
 'American Imperial IPA': 18338,
 'Belgian Saison': 18167,
 'American Wild Ale': 12972,
 'American Imperial Stout': 11180,
 'American Porter': 10168,
 'American Amber / Red Ale': 9748,
 'American Stout': 9103,
 'Fruit and Field Beer': 7729,
 'American Blonde Ale': 7089,
 'American Brown Ale': 7008,
 'German Hefeweizen': 6020,
 'Belgian Witbier': 5613,
 'American Pale Wheat Ale': 5266,
 'Berliner Weisse': 5036,
 'German Pilsner': 4748,
 'Belgian Pale Ale': 4523,
 'Russian Imperial Stout': 4426,
 'English Sweet / Milk Stout': 4192,
 'American Black Ale': 4015,
 'English Bitter': 3801,
 'Belgian Tripel': 3783,
 'American Lager': 3741,
 'European Pale Lager': 3715,
 'English Pale Ale': 3682,
 'German Märzen / Oktoberfest': 3583,
 'Leipzig Gose': 3336,
 'American Barleywine': 3264,
 'German Kölsch': 3191,
 'English Oatmeal Stout': 3045,
 'Herb and Spice Beer': 2928,
 'Belgian Strong Pale Ale': 2898,
 'Bohemian Pilsener': 2895,
 'English Extra Special / Strong Bitter (ESB)': 2893,
 'Scotch Ale / Wee Heavy': 2700,
 'Belgian Strong Dark Ale': 2683,
 'Rye Beer': 2638,
 'American Cream Ale': 2540,
 'American Strong Ale': 2509,
 'English India Pale Ale (IPA)': 2427,
 'English Brown Ale': 2398,
 'Belgian Dubbel': 2376,
 'Belgian IPA': 2268,
 'English Porter': 2263,
 'Pumpkin Beer': 2180,
 'New England IPA': 2154,
 'Irish Red Ale': 2080,
 'German Doppelbock': 1976,
 'Irish Dry Stout': 1956,
 'American Adjunct Lager': 1939,
 'Winter Warmer': 1860,
 'Scottish Ale': 1848,
 'German Helles': 1818,
 'German Bock': 1785,
 'German Schwarzbier': 1740,
 'Belgian Quadrupel (Quad)': 1694,
 'German Altbier': 1686,
 'German Dunkelweizen': 1640,
 'Baltic Porter': 1614,
 'German Maibock': 1582,
 'Vienna Lager': 1567,
 'British Barleywine': 1538,
 'Munich Dunkel Lager': 1412,
 'Smoke Beer': 1409,
 'English Dark Mild Ale': 1381,
 'Belgian Dark Ale': 1361,
 'American Light Lager': 1333,
 'English Old Ale': 1288,
 'English Stout': 1237,
 'French Bière de Garde': 1228,
 'American Amber / Red Lager': 1172,
 'German Kellerbier / Zwickelbier': 1152,
 'German Weizenbock': 1026,
 'California Common / Steam Beer': 985,
 'European Dark Lager': 954,
 'Belgian Fruit Lambic': 931,
 'Belgian Blonde Ale': 833,
 'Foreign / Export Stout': 804,
 'Flanders Red Ale': 774,
 'English Strong Ale': 772,
 'European Export / Dortmunder': 757,
 'German Rauchbier': 752,
 'American Imperial Pilsner': 722,
 'Chile Beer': 697,
 'Flanders Oud Bruin': 688,
 'Low Alcohol Beer': 661,
 'European Strong Lager': 629,
 'American Wheatwine Ale': 626,
 'English Pale Mild Ale': 617,
 'American Imperial Porter': 588,
 'American Brett': 522,
 'Scottish Gruit / Ancient Herbed Ale': 466,
 'Smoke Porter': 460,
 'American Malt Liquor': 420,
 'Braggot': 392,
 'American Imperial Red Ale': 386,
 'American Dark Wheat Ale': 364,
 'German Roggenbier': 355,
 'German Kristalweizen': 313,
 'Russian Kvass': 264,
 'Belgian Gueuze': 248,
 'American Brut IPA': 241,
 'Belgian Lambic': 230,
 'Robust Porter': 210,
 'German Eisbock': 210,
 'Japanese Rice Lager': 171,
 'Finnish Sahti': 123,
 'Japanese Happoshu': 123,
 'Bière de Champagne / Bière Brut': 116,
 'Belgian Faro': 32,
 'Wild/Sour Beers': 4}

In [19]:
beers['style'].value_counts().mean()

3204.214285714286

In [20]:
beers['style'].value_counts().median()

1717.0

In [21]:
beers[beers['style'].value_counts() > 3204]

/home/aaron/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [ ]:
len(beers['name'].unique())